* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #3f3f3f;
  display: grid;
  place-items: center;
}

button {
  background-color: #40005d;
  border: none;
  color: #fff;
  border-radius: 0.7rem;
}

.container__form,
.container__main {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.container {
  width: 50vw;
  padding: 2em 0.5em;
}

/** --- HEADER CONTAINER --- **/

.container__form {
  color: #40005d;
  background-color: #a892ee;
  font-weight: 700;
  border-radius: 0.7rem;
  margin-bottom: 2em;
  padding: 0.3em;
}

.container__form.newForm {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container__form--new button {
  padding: 1em;
  margin: 1em;
  transition: all 0.3s ease;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.container__form--inputs form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 1rem;
  margin: 1em 1em;
}

.container__form--inputs label {
  margin-bottom: 0.5em;
}

.container__form--inputs input {
  width: 90%;
  height: 40px;
  border: none;
  outline: none;
  padding: 0.5em;
  border-radius: 0.3rem;
}

.form__buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
  margin: 1em;
}

.form__buttons button {
  padding: 0.9em 1.4em;
  font-size: 0.9rem;
  transition: all 0.3s ease;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.container__form--new button:hover {
  background-color: #fff;
  color: #40005d;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.form__buttons button:hover {
  transform: translateY(-3px);
  background-color: #fff;
  color: #40005d;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

@media (max-width: 800px) {
  .container {
    width: 75vw;
  }
  .container__form--inputs form {
    grid-template-columns: 1fr;
  }
  .form__buttons {
    justify-content: center;
  }

  .form__buttons button {
    padding: 0.5em 1em;
  }
  .main__header {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 500px) {
  .container {
    width: 80vw;
  }
}

/** --- MAIN CONTAINER --- **/

.container__main {
  background-color: #1f1f1f;
  border-radius: 0.7rem;
  color: #fff;
  padding: 2em;
}

.main__header {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  padding-inline: 1em;
}

.main__header p {
  font-weight: 700;
}

.main__header select {
  width: 150px;
  text-align: center;
  border-radius: 0.3rem;
  outline: none;
  font-weight: 700;
  cursor: pointer;
}

.main__diagram {
  color: #40005d;
  background-color: #f8dfff;
  padding: 1em;
  border-radius: 0.7rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  z-index: 100;
}

.diagram__capsule {
  background-color: #c3b4f3;
  height: 90px;
  width: 25px;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  position: relative;
}

.diagram__capsule::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #4826b9;
  height: var(--capsuleAfter, "0px");
  width: 25px;
  border-top-left-radius: var(--capsuleAfterRadiusTopLeft, 0rem);
  border-top-right-radius: var(--capsuleAfterRadiusTopRight, 0rem);
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  transition: all 0.3s ease-in-out;
}

.col {
  margin: 0;
}

.main__diagram--item p {
  margin-bottom: 0;
}

.main__expensesList {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
  gap: 1rem;
}

.main__expensesList--item {
  background-color: #4b4b4b;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.4em 0.7em;
  border-radius: 0.7rem;
  transition: all 0.2s ease-in;
}

.expensesList--itemDate {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #2a2a2a;
  padding: 0.5em 1.3em;
  border: 1px solid #fff;
  border-radius: 0.7rem;
  width: 15%;
}

.expensesList--itemDate > p {
  margin: 0;
}

.expensesList--itemDate > p:nth-child(1) {
  font-size: 0.8rem;
  font-weight: 700;
}

.expensesList--itemDate > p:nth-child(2) {
  font-size: 0.8rem;
}

.expensesList--itemDate > p:nth-child(3) {
  font-size: 1.5rem;
  font-weight: 800;
}

.main__expensesList--item h3 {
  margin-left: 1em;
  margin-right: auto;
  margin-bottom: 0;
  font-size: 1.3rem;
  font-weight: 700;
}

.main__expensesList--item > p {
  padding: 0.4em 1.5em;
  background-color: #40005d;
  color: #fff;
  font-weight: 700;
  border: 1px solid #fff;
  border-radius: 0.7rem;
  font-size: 1.1rem;
  margin: 0;
}

.main__expensesList--item:hover {
  transform: scale(1.025);
  background-color: #c3b4f3;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.main__expensesList--none {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
}

.main__expensesList--none h3 {
  font-weight: 800;
  text-align: center;
}

.hide {
  display: none;
}

@media (max-width: 800px) {
  .expensesList--itemDate {
    flex: 0.5;
  }

  .main__expensesList--item h3 {
    margin-left: 0.3em;
  }

  .main__expensesList--item > p {
    padding: 0.4em 0.5em;
  }
}
